<style>
        /* 후손 선택자 : 공백으로 처리 됨 */
        div ul {color: red;        }
        div h2 {color: yellow; background-color: purple;}
        div li {color: blue; background-color: aqua;}

        /* 자손 선택자 : > 으로 처리 됨 */
        body > div > h3 { color: chartreuse;}
        body > p {color: gold; background-color: brown;}
        body > h3 > tel > home { color: aqua;}
                
        /* 인접 형제 선택자 : + 으로 처리 됨 */
        body > p + abc { color: olive; background-color: yellowgreen;}

        /* 일반 형제 선택자 : ~ 으로 처리 됨 */
        body > p ~ cde {color: ghostwhite; background-color: darkcyan;}

        /* 그룹 선택자 : , 으로 처리 됨 */
        .group1, .group2 {
            color: rosybrown; background-color: darkslategrey;
            font-size: 20px;
        }
        </style>